<div class="layout layout-row layout-padding  layout-align-center-center">
  <div class="flex-80 layout-row">

    <div class="flex-20">
      {{ui-blocks/vcard}}
    </div>

    <div class="flex-40">
      {{gh-insights/activity}}
    </div>

    <div class="flex-40">
      {{gh-insights/languages}}
    </div>
  </div>
</div>
